$white: #fff;
$black: #000;
$light-grey: #f3f1f5;
$dark-grey: #7f7c82;
$light-pink: #f0d9ff;
$light-green: #c8dbbe;
$light-green-faint: rgba(200, 219, 189, 0.5);
$dark-brown: #665a48;
$dark-pink: #bfa2db;
$brand-primary: #f0d9ff;

$h1: 10rem;
$h2: 5rem;
$h3: 2.5rem;
$h4: 2rem;

$body: 1.5rem;
